#form1{
    width: 350px;
    height: 500px;
    margin: 0 auto;
}

#visor{
    width: 350px;
    height: 80px;
    background-color: lightgreen;
    text-align: right;
    border-radius: 5px;
    font-size: 20pt;
}

.btn{
    width: 80px;
    height: 80px;
    font-size: 20pt;
    border-radius: 5px;
}

p{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 5px;
}

.op{
    width: 80px;
    height: 80px;
    font-size: 20pt;
    background-color: grey;
    border-radius: 5px;
}

.igual{
    width: 350px;
    height: 80px;
    font-size: 20pt;
    background-color: grey;
    border-radius: 5px;
}